@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	}

.demos {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: url(src/html/static/textured_paper.png);
	font-family: 'Josefin Slab', Georgia, serif;
	}

	.demos__title {
		position: relative;
		z-index: 1000;
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 4vw;
		line-height: 2.0;
		}

.demo {
	position: absolute;
	top: 50%;
	overflow: hidden;
	display: block;
	margin: -8vw 0 0 -8vw;
	width: 16vw;
	height: 16vw;
	background: #FFF;
	border-radius: 100%;
	border: 10px solid #FFF;
	box-sizing: border-box;
	box-shadow: 0 0 5px rgba(0,0,0,0.5), inset 0 0 3px rgba(0,0,0,0.5);
	line-height: 15vw;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	color: #FFF;
	font-size: 3.5vw;
	}

	.demo.is-hidden {
		top: -50px;
		}

	.demo:hover {
		-webkit-transform: scale(1.5);
		   -moz-transform: scale(1.5);
				transform: scale(1.5);
		}

	.demo_type_simple {
		left: 15%;
		top: 42%;
		background: #99D1B7;
		-webkit-transition: top 0.5s ease 0.1s, -webkit-transform 0.5s;
		   -moz-transition: top 0.5s ease 0.1s, -moz-transform 0.5s;
				transition: top 0.5s ease 0.1s, transform 0.5s;
		}

	.demo_type_deferred {
		left: 40%;
		top: 60%;
		background: #CCC699;
		-webkit-transition: top 0.5s ease 0.3s, -webkit-transform 0.5s;
		   -moz-transition: top 0.5s ease 0.3s, -moz-transform 0.5s;
				transition: top 0.5s ease 0.3s, transform 0.5s;
		-webkit-transform: scale(1.3);
		   -moz-transform: scale(1.3);
				transform: scale(1.3);
		}

	.demo_type_removal {
		left: 60%;
		top: 33%;
		background: #B1654B;
		-webkit-transition: top 0.5s ease 0.5s, -webkit-transform 0.5s;
		   -moz-transition: top 0.5s ease 0.5s, -moz-transform 0.5s;
				transition: top 0.5s ease 0.5s, transform 0.5s;
		-webkit-transform: scale(1.2);
		   -moz-transform: scale(1.2);
				transform: scale(1.2);
		}

	.demo_type_dialog {
		left: 80%;
		top: 70%;
		background: #666;
		-webkit-transition: top 0.5s ease 0.8s, -webkit-transform 0.5s;
		   -moz-transition: top 0.5s ease 0.8s, -moz-transform 0.5s;
				transition: top 0.5s ease 0.8s, transform 0.5s;
		-webkit-transform: scale(1.25);
		   -moz-transform: scale(1.25);
				transform: scale(1.25);
		}

.forkme {
	position: absolute;
	top: 0;
	right: 0;
	width: 15vw;
	height: 15vw;
	max-width: 149px;
	max-height: 149px;
	z-index: 9999;
	overflow: hidden;
	text-indent: 100%;
	font: 0/0 a;
	background: url("http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png");
	background-size: cover;
	}


@media screen and (max-width: 800px) {
	.demo {
		border: 7px solid #FFF;
		box-shadow: 0 0 4px rgba(0,0,0,0.5), inset 0 0 2px rgba(0,0,0,0.5);
		}
}

@media screen and (max-width: 640px) {
	.demo {
		border: 3px solid #FFF;
		box-shadow: 0 0 3px rgba(0,0,0,0.5), inset 0 0 1px rgba(0,0,0,0.5);
		}
}